/* Post single customisations
-------------------------------------------------- */

.post-content figure {
    width: fit-content;
}

.post-content figcaption p {
    font-size: 14px;
    text-align: center;
    color: var(--secondary);
}

/* .entry-cover video {*/
figure video {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
}

